# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
  
- List of popular language for Data Science
- List of Commonly used libraries by Data scientists
- List of popular Data science tool

Some of the popular languages that Data Scientists use are:
1. SQL
2. Java
3. R
4. C++

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

|Data Science Tools|
|-------------------|
|RStudio|
|TensorFlow|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

This is a simple arithmetic expression to multiply then add integers

(3*4)+5

In [12]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Maria-Clara Bjelkanovic